.hot_card {
    padding: 1rem;
    background: linear-gradient(154.6deg, #ffd6c9 2.33%, rgba(255, 255, 255, 0) 83.9%), #ffffff;
    box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
    border-radius: 16px;
}
.normal_card {
    padding: 1rem;
    background: linear-gradient(154.6deg, #c9e5ff 2.33%, rgba(255, 255, 255, 0) 83.9%), #ffffff;
    box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
    border-radius: 16px;
}
.cold_card {
    padding: 1rem;
    background: linear-gradient(154.6deg, #fff0ca 2.33%, rgba(255, 255, 255, 0) 83.9%), #ffffff;
    box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
    border-radius: 16px;
}
.no_category {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
    border-radius: 16px;
}
.top_cities_card_star_icon {
    text-align: right;
}
.top_cities_card_temp_value {
    margin: 0;
    text-align: center;
}
