header {
    width: 100%;
    padding: 1rem 0rem;
}
.header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    flex: 1;
    font-weight: bolder;
    font-size: 1.25rem;
    padding-right: 10px;
    margin: 0;
}
.search_con {
    flex: 1;
    padding: 0rem 1rem;
}
.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_right_left,
.header_right_right {
    border-radius: 50%;
    padding: 5px;
}

.header_right_left {
    background-color: #ffffff;
    box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
    margin-right: 1rem;
}
.header_right_right {
    background-color: #222831;
    margin-right: 1rem;
    color: #fff;
}
