.not_found_page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.not_found_page_normal_height{
    height: 100vh;
}

.not_found_page_custom_height{
    height: auto;
    text-align: center;
}